/*** SCREEN ***/
@media screen {

body {
  margin:0;
  background-color:	#D8D8D8
  }


h1 {
  width: 100%;
  text-align:center;
}

.hide {
  display: none;
}

.show {
  display: block;
}


.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.btn-primary {
  color: #fff;
  background-color: red;
  border-color: red;
}

.btn {
  display: inline-block;
  font-weight: normal;
  margin-top: 1rem;
  line-height: 2;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.resizebody {
  height: 50px;
}

}

.redLabel {
 color: red;
}

.fontBig {
  font-size: 18px;
}

.fontBold {
  font-size: 18px;
  font-weight: bold;
}

/*** PRINT ***/
@media print {
    html,body {
      height:1px;
    }

  #formulario {
    display: none;
  }

  #aguardando {
    display: none;
  }

  #sucesso {
    display: block;
  }
}

.titlePrint {
  font-size: 50px;
  margin-bottom: 15px;
}

#sucesso {
  font-size: 20px;
}

#valor {
  margin-top: 15px;
}

#formulario {
  margin-left: 7px;
  margin-right: 7px;
}
